<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.aspn.community.mapper.CommentMapper">

    <select id="selectCommentByCommunityId" resultType="java.util.Map">
        SELECT
            m.id as memberId,
            m.member_name,
            m.picture,
            c.content,
            c.community_id,
            c.id,
            c.register_id,
            c.register_time
        FROM
            com_comment c,
            member m
        WHERE
            c.member_id = m.id
        and c.community_id = #{communityId}
    </select>

    <select id="selectCommentCountByCommunityId" resultType="java.lang.Integer">
        SELECT count(1) from com_comment where community_id = #{communityId}
    </select>

    <!-- member profile select comment by member id page list   -->
    <select id="selectCommentByMemberId" resultType="java.util.Map">
        select
            a.id,
            a.content,
            b.title,
            b.id as communityId,
            b.menu_id as menuId,
            (select name from community_menu where id = b.menu_id) as menuName,
            a.register_time as date
        from
            com_comment a,
            community b
        where  a.community_id = b.id
        and a.member_id = #{memberId}
        order by a.id
        LIMIT #{page},#{size}
    </select>

    <!-- member profile select comment by member id  count -->
    <select id="selectCommentCountByMemberId" resultType="java.lang.Integer">
        SELECT count(1) FROM com_comment where member_id = #{memberId}
    </select>

    <select id="getMyCommunityComment" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.member_id as memberId,
            count(1) as cnt
        FROM
            community a,
            com_comment b
        WHERE
            a.id = b.community_id
          and a.member_id = #{memberId}
          and b.read_yn is null
        GROUP BY a.id ,
                 a.title,
                 a.member_id
    </select>

    <select id="getMyCommunityCommentCount" resultType="java.lang.Integer">
        SELECT
            count(1) as cnt
        FROM
            community a,
            com_comment b
        WHERE
            a.id = b.community_id
          and a.member_id = #{memberId}
          and b.read_yn is null
    </select>

    <update id="updateCommentReadByCommunityId" parameterType="java.lang.Integer">
        UPDATE com_comment
        SET read_yn = 1,
            update_time = SYSDATE(),
            update_id = register_id
        WHERE
            community_id = #{communityId}
    </update>


</mapper>