<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.aspn.community.mapper.CommunityMapper">

    <!-- community detail select   -->
    <select id="selectCommunityDetail" resultType="java.util.Map">
        SELECT
            m.id,
            m.member_name,
            m.picture,
            c.content,
            c.community_id,
            c.register_id,
            c.register_time
        FROM
            com_comment c,
            member m
        WHERE
            c.member_id = u.id
        and c.community_id = #{communityId}
    </select>




</mapper>