<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.aspn.community.mapper.CommentMapper">

    <select id="selectCommentByCommunityId" resultType="java.util.Map">
        SELECT
            m.id,
            m.member_name,
            m.picture,
            c.content,
            c.community_id,
            c.register_id,
            c.register_time
        FROM
            com_comment c,
            member m
        WHERE
            c.member_id = m.id
        and c.community_id = #{communityId}
    </select>

    <select id="selectCommentCountByCommunityId" resultType="java.lang.Integer">
        SELECT count(1) from com_comment where community_id = #{communityId}
    </select>

    <!-- member profile select comment by member id page list   -->
    <select id="selectCommentByMemberId" resultType="java.util.Map">
        select
            a.id,
            a.content,
            b.title,
            b.id as communityId,
            b.menu_id as menuId,
            (select name from menu where id = b.menu_id) as menuName,
            a.register_time as date
        from
            com_comment a,
            community b
        where  a.community_id = b.id
        and a.member_id = #{memberId}
        order by a.id
        LIMIT #{page},#{size}
    </select>

    <!-- member profile select comment by member id  count -->
    <select id="selectCommentCountByMemberId" resultType="java.lang.Integer">
        SELECT count(1) FROM com_comment where member_id = #{memberId}
    </select>


</mapper>