<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.aspn.member.mapper.MemberMapper">

    <select id="getDepartment" resultType="java.util.Map">
        select id as value,name as text from department
    </select>

    <update id="updateMemberDynamic" parameterType="com.community.aspn.pojo.member.Member">
        update member
            <trim prefix="set" suffixOverrides=",">
                <if test="picture!= null">picture = #{picture},</if>
                <if test="password!= null">password = #{password},</if>
                <if test="memberName!= null">member_name = #{memberName},</if>
                <if test="email!= null">email = #{email},</if>
                <if test="department!= null">department = #{department},</if>
                <if test="duty!= null">duty = #{duty},</if>
                <if test="phone!= null">phone = #{phone},</if>
                <if test="remark!= null">remark = #{remark},</if>
                <if test="authority!= null">authority = #{authority},</if>
                <if test="updateId!= null">update_id = #{updateId},</if>
                <if test="updateTime!= null">update_time = #{updateTime},</if>
            </trim>
        where id =#{id}
    </update>

    <select id="getAllAppMember" resultType="java.util.Map">
        SELECT
            m.id,
            m.member_name as memberName,
            m.member_yn as memberYn,
            m.login_id as loginId,
            m.email,
            m.picture,
            date_format(m.register_time,'%Y-%m-%d %H:%i:%S') as registerTime,
            d.name as department,
            m.comment,
            m.phone
        FROM
            member_app m,
            department d
        WHERE
            m.department = d.id
        and m.member_yn = 'N'
        order by m.register_time
    </select>


</mapper>