<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.aspn.menu.mapper.MenuMapper">
    <select id="selectMenuByTier" resultType="com.community.aspn.pojo.Menu">
        select * from Menu where tier = #{tier}
    </select>
</mapper>