<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.aspn.search.mapper.SearchMapper">
    <select id="wikiSearch" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.menu_id as menuId,
            c.name as menuName,
            'WIKI' AS ty
        FROM
            wiki a,
            wiki_his b,
            wiki_menu c
        WHERE
            a.his_id = b.id
        and a.menu_id = c.id
        <if test='option == "TC"'>
            and (a.title like CONCAT('%',#{content},'%') or b.content like CONCAT('%',#{content},'%'))
        </if>
        <if test='option == "T"'>
            and a.title like CONCAT('%',#{content},'%')
        </if>
        <if test='option == "C"'>
            and b.content like CONCAT('%',#{content},'%')
        </if>
        <if test='menus != null and menus.size != 0'>
            and a.menu_id in
            <foreach collection="menus" index="index" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test='members != null and members.size != 0'>
            and a.id in (
                SELECT
                    DISTINCT wiki_id
                FROM
                    wiki_his
                WHERE
                    member_id IN
                    <foreach collection="members" index="index" item="id" open="(" separator="," close=")">
                        #{id}
                    </foreach>
            )
        </if>
        LIMIT #{page},#{size};

    </select>

    <select id="communitySearch" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.menu_id as menuId,
            b.name as menuName,
            'COMMUNITY' AS ty
        FROM
            community a,
            community_menu b
        WHERE
            a.menu_id = b.id
        <if test='option == "TC"'>
            and (a.title like CONCAT('%',#{content},'%') or a.content like CONCAT('%',#{content},'%'))
        </if>
        <if test='option == "T"'>
            and a.title like CONCAT('%',#{content},'%')
        </if>
        <if test='option == "C"'>
            and a.content like CONCAT('%',#{content},'%')
        </if>
        <if test='members != null and members.size != 0'>
            and a.member_id in
            <foreach collection="members" index="index" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        LIMIT #{page},#{size};
    </select>

    <update id="updateSearch">
        update search set cnt = cnt + 1
        ,update_time = #{updateTime}
        ,update_id = ${updateId}
        where content = #{content}
        and ty = #{ty}
    </update>

</mapper>