<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.aspn.search.mapper.SearchMapper">
    <select id="wikiSearch" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.menu_id as menuId,
            c.name as menuName
        FROM
            wiki a,
            wiki_his b,
            wiki_menu c
        WHERE
            a.his_id = b.id
          and a.menu_id = c.id
          and (a.title like CONCAT('%',#{content},'%') or b.content like CONCAT('%',#{content},'%'))
        union
        SELECT
            a.id,
            a.title,
            a.menu_id as menuId,
            c.name as menuName
        FROM
            wiki a,
            wiki_his b,
            wiki_menu c,
            member m
        WHERE
            a.his_id = b.id
          and a.menu_id = c.id
          and a.update_id = m.id
          and m.member_name like CONCAT('%',#{content},'%')
    </select>

    <select id="communitySearch" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.menu_id as menuId,
            b.name as menuName
        FROM
            community a,
            community_menu b
        WHERE
            a.menu_id = b.id
        and (a.title like CONCAT('%',#{content},'%') or a.content like CONCAT('%',#{content},'%'))
        union
        SELECT
            a.id,
            a.title,
            a.menu_id as menuId,
            b.name as menuName
        FROM
            community a,
            community_menu b,
            member m
        WHERE
            a.menu_id = b.id
        and a.member_id = m.id
        and m.member_name like CONCAT('%',#{content},'%')
    </select>

    <update id="updateSearch">
        update search set cnt = cnt + 1
        ,update_time = #{updateTime}
        ,update_id = ${updateId}
        where content = #{content}
        and ty = #{ty}
    </update>

</mapper>