<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.aspn.wiki.mapper.WikiMapper">
    <insert id="addWiki" useGeneratedKeys="true" keyProperty="id">
        insert into wiki (title,his_id,menu_id,picture,register_id,register_time)
        values (#{title},#{hisId},#{menuId},#{picture},#{registerId},#{registerTime})
    </insert>


    <select id="selectWikiList" resultType="java.util.Map">
        SELECT
            w.id,
            w.title,
            w.picture,
            (select member_name from member where id = w.register_id) as registerName,
            (select member_name from member where id = w.update_id) as updateName
        FROM
            wiki w,
            wiki_his s,
            wiki_menu m
        where w.menu_id in
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
          and w.his_id = s.id
          and s.his_yn = 1
          and w.menu_id = m.id
          and w.his_id is not null
        order by w.update_time desc,m.tier,w.title
    </select>

    <select id="selectWikiMainList" resultType="java.util.Map">
        SELECT
            w.id,
            w.title,
            w.picture,
            (select member_name from member where id = w.register_id) as registerName,
            (select member_name from member where id = w.update_id) as updateName
        FROM
            wiki w,
            wiki_his s
        where w.his_id = s.id
          and s.his_yn = 1
          and w.his_id is not null
        ORDER BY w.update_time DESC
        LIMIT #{count}
    </select>


    <!-- wiki profile Editing   -->
    <select id="selectWikiHisProfile" resultType="java.util.Map">
        SELECT
            w.id,
            w.wiki_id as wikiId,
            w.title,
            w.member_id as memberId,
            m.id as menuId,
            m.name as menuName,
            w.update_time as date
        FROM
            wiki_his w,
            wiki_menu m
        where w.menu_id = m.id
        and (w.his_yn is null or w.his_yn != 1)
        and w.member_id = #{memberId}
    </select>

    <!-- wiki profile Edited   -->
    <select id="selectWikiEditedProfile" resultType="java.util.Map">
        SELECT
            w.id,
            w.title,
            w.menu_id as menuId,
            m.name as menuName
        FROM
            wiki w,
            wiki_his h,
            wiki_menu m
        WHERE
            w.id = h.wiki_id
          and w.menu_id = m.id
          and h.member_id =  #{memberId}
          and h.his_yn = 1
        group by
            w.id,
            w.title,
            w.menu_id,
            m.name
    </select>

    <!-- wiki WikiHisList   -->
    <select id="selectWikiHisList" resultType="java.util.Map">
        SELECT
            w.id as wikiId,
            w.his_id as hisId,
            s.id as wikiHisId,
            s.title,
            s.information,
            s.update_time as updateTime,
            s.member_id as memberId,
            m.picture,
            m.member_name as memberName
        FROM
            wiki w,
            wiki_his s,
            member m
        where w.id = s.wiki_id
          and s.member_id = m.id
          and w.id = #{wikiId}
          and s.his_yn = 1
        order by w.update_time desc
    </select>



</mapper>