<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.aspn.wikiInfo.mapper.WikiCollectMapper">

    <!-- member profile select like by member id page list   -->
    <select id="selectLikesPageListByMemberId" resultType="java.util.Map">

        SELECT
            a.wiki_id as wikiId,
            a.member_id as memberId,
            b.title,
            b.menu_id as menuId,
            (select name from wiki_menu where id = b.menu_id) as menuName,
            a.register_time as date
        FROM
            wiki_like a,
            wiki b
        where a.wiki_id = b.id
          and a.member_id = #{memberId}
        order by a.register_time desc
        LIMIT #{page},#{size}
    </select>

    <!-- member profile select like by member id  count -->
    <select id="selectLikesPageListCountByMemberId" resultType="java.lang.Integer">
        SELECT count(1) FROM wiki_like where member_id = #{memberId}
    </select>


    <!-- member profile collect like by member id  count -->
    <select id="selectCollectPageListCountByMemberId" resultType="java.lang.Integer">
        SELECT count(1) FROM wiki_like where member_id = #{memberId}
    </select>
    
    <!-- 회원 즐겨찾기 메뉴별 조회 -->
    <select id="selectWikiCollect" resultType="java.util.Map">
        SELECT
            w.title,
            c.wiki_id as wikiId,
            c.member_id as memberId,
            c.collect_menu_id as collectMenuId
        FROM
            wiki_collect c,
            wiki w
        WHERE
            c.wiki_id = w.id
          and c.collect_menu_id = #{id}
    </select>

    <!--    전체 회원별 즐겨찾기-->
    <select id="selectAllWikiCollect" resultType="java.util.Map">
        SELECT
            w.title,
            c.wiki_id as wikiId,
            c.member_id as memberId,
            c.collect_menu_id as collectMenuId
        FROM
            wiki_collect c,
            wiki w
        WHERE
            c.wiki_id = w.id
          and c.member_id = #{id}
    </select>

</mapper>