<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.aspn.wiki.mapper.WikiMapper">
    <insert id="addWiki" useGeneratedKeys="true" keyProperty="id">
        insert into wiki (title,his_id,menu_id,picture,register_id,register_time)
        values (#{title},#{hisId},#{menuId},#{picture},#{registerId},#{registerTime})
    </insert>


    <select id="selectWikiList" resultType="java.util.Map">
        SELECT
            id,
            title,
            picture,
            (select member_name from member where id = w.register_id) as registerName,
            (select member_name from member where id = w.update_id) as updateName
        FROM
            wiki w
        where w.menu_id = #{menuId}
        and his_id is not null
        order by title
    </select>

    <select id="selectWikiMainList" resultType="java.util.Map">
        SELECT
            id,
            title,
            picture,
            (select member_name from member where id = w.register_id) as registerName,
            (select member_name from member where id = w.update_id) as updateName
        FROM
            wiki w
        where his_id is not null
        order by w.update_id desc
        LIMIT #{count}
    </select>

</mapper>